body {
    font-family: Arial, sans-serif;
    background-color:#8485CC;
    color: #333;
    text-align: center;
    padding: 20px;
}
form {
    background: #F8FEC2;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #F8FEC2;
    font-size: 35px;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    text-align: left;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 15px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #1e7e34;
}

@media (max-width: 480px) {
    form {
        max-width: 100%;
        padding: 15px;
    }
}
